
body{
    background: rgb(236, 226, 206); ;
}

.cabecera{
    text-align-last: center;
}
.cabecera h1{
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px;
    width: 40%; 
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: rgb(64, 168, 104);
    margin-top: 10px;
    margin-left: auto; 
    margin-right: auto; 
    border-radius: 15px;
}
.juego{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.jugador1, .jugador2 {
    width: 30%; 
    text-align: center;
    border: 1px solid black; 
    padding: 5px;
    border-radius: 10px;
}
.jugador1{
    background-color: rgb(56, 56, 180);
    align-items: center;
    color:white;
    font-family: fantasy;
    font-size: 25px;
}
.jugador2{
    background-color: rgb(190, 44, 44);
    color:white;
    font-family: fantasy;
    font-size: 25px;
}

/*Estilos para la tabla de resultados*/

.resultados {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; 
    height: 300px; 
}

.tablaR table {
    border-collapse: collapse;
    width: 100%; 
    text-align: center;
}

.tablaR th, .tablaR td {
    border: 1px solid black;
    padding: 10px;
}

#player1{
    background-color: rgb(56, 56, 180);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#player2{
    background-color: rgb(190, 44, 44);
    color: rgb(227, 247, 253);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#ronda1-p1, #ronda2-p1,#ronda3-p1{
    background-color: rgb(81, 81, 228);
    color: rgb(219, 244, 255);
    font-family: fantasy;
}

#ronda1-p2, #ronda2-p2,#ronda3-p2{
    background-color: rgb(248, 108, 108);
    color: rgb(37, 22, 22);
    font-family: fantasy;
}

/*Para el boton girar*/
@keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.1);
      opacity: 0.7;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
  .btn {
    position: relative;
    width: 200px;  /* Ajusta el tamaño */
    height: 200px; /* Ajusta el tamaño */
    font-size: 1rem;
    font-weight: 600;
    color: rgb(120, 124, 186);
    background: none;
    border: 2px solid #646cff;
    border-radius: 50%; /* Hace que el botón sea circular */
    cursor: pointer;
    overflow: hidden;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .liquid {
    background: linear-gradient(#646cff 0 0) no-repeat calc(200% - var(--p, 0%))
      100% / 200% var(--p, 0.2em);
    transition: 0.3s var(--t, 0s),
      background-position 0.3s calc(0.3s - var(--t, 0s));
  }
  
  .liquid:hover {
    --p: 100%;
    --t: 0.3s;
    color: #fff;
    animation: pulse 0.6s ease-in-out infinite;
  }
  
  .btn span {
    text-align: center;
    font-size: 0.8rem;
  }

  /*Para las reglas*/
  .modal-checkbox {
    display: none;
}

/* Fondo del modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Contenedor del contenido */
.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Botón de cerrar */
.close-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    background: #646cff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.close-btn:hover {
    background: #535bf2;
}

/* Ocultar el modal cuando el checkbox está marcado */
.modal-checkbox:checked + .modal {
    opacity: 0;
    visibility: hidden;
}
  

/*Para el boton de reiniciar*/
.reiniciar{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.reinicio{
    border: none; 
    color: black; 
    font-family:fantasy;
    font-size: 20px;
    padding: 14px 28px; 
    cursor: pointer; 
    border-radius: 5px;
    background-color: white; 
    border: 2px solid #c96842;
}

.reinicio:hover{
    background-color: #c96842;
    color: white;

}

/*Estilo para los dados*/
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Crea 2 columnas iguales */
  gap: 50px; /* Espacio entre los dados */
  justify-content: center; /* Centra las columnas */
  align-items: center;
  height: 100vh;
}

.columna {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  position: relative;
  perspective: 600px;
  top: -150px;

}

.cube1, .cube2 {
  transform: translateY(180px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.cube-face {
  position: absolute; 
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  background: white;

  border: black 1px solid;
  border-radius: 5%;
}

.front {
  transform: translateZ(100px);
}

.back {
  transform: rotateY(180deg) translateZ(100px);
}

.left {
  transform: rotateY(-90deg) translateZ(100px);
}

.right {
  transform: rotateY(90deg) translateZ(100px);
}

.top {
  transform: rotateX(90deg) translateZ(100px);
}

.bottom {
  transform: rotateX(-90deg) translateZ(100px);
}

.inside {
  display: grid;
  grid-template-columns: repeat(3, 40px);
  grid-template-rows: repeat(3, 40px);
}

.dot {
  height: 35px;
  width: 35px;
  background-color: black;
  border-radius: 50%;
  justify-self: center;
  align-self: center;
}

.front .inside .dot {
  grid-row: 2;
  grid-column: 2;
}

.back .inside .dot:nth-child(1) {
  grid-row: 1;
  grid-column: 1;
}

.back .inside .dot:nth-child(2) {
  grid-row: 1;
  grid-column: 2;
}

.back .inside .dot:nth-child(3) {
  grid-row: 1;
  grid-column: 3;
}

.back .inside .dot:nth-child(4) {
  grid-row: 3;
  grid-column: 1;
}

.back .inside .dot:nth-child(5) {
  grid-row: 3;
  grid-column: 2;
}

.back .inside .dot:nth-child(6) {
  grid-row: 3;
  grid-column: 3;
}

.left .inside .dot:nth-child(1) {
  grid-row: 1;
  grid-column: 3;
}

.left .inside .dot:nth-child(2) {
  grid-row: 2;
  grid-column: 2;
}

.left .inside .dot:nth-child(3) {
  grid-row: 3;
  grid-column: 1;
}

.right .inside .dot:nth-child(1) {
  grid-row: 1;
  grid-column: 1;
}

.right .inside .dot:nth-child(2) {
  grid-row: 1;
  grid-column: 3;
}

.right .inside .dot:nth-child(3) {
  grid-row: 3;
  grid-column: 1;
}

.right .inside .dot:nth-child(4) {
  grid-row: 3;
  grid-column: 3;
}

.top .inside .dot:nth-child(1) {
  grid-row: 1;
  grid-column: 1;
}

.top .inside .dot:nth-child(2) {
  grid-row: 1;
  grid-column: 3;
}

.top .inside .dot:nth-child(3) {
  grid-row: 2;
  grid-column: 2;
}

.top .inside .dot:nth-child(4) {
  grid-row: 3;
  grid-column: 1;
}

.top .inside .dot:nth-child(5) {
  grid-row: 3;
  grid-column: 3;
}

.bottom .inside .dot:nth-child(1) {
  grid-row: 1;
  grid-column: 3;
}

.bottom .inside .dot:nth-child(2) {
  grid-row: 3;
  grid-column: 1;
}

.base {
  width: 300px; /* Ajusta el tamaño según el dado */
  height: 30px; /* Grosor de la base */
  background-color: #444; /* Color oscuro para que parezca suelo */
  position: absolute;
  left: 50%;
  transform: translateY(240px) translateX(-50%);
  border-radius: 10px; /* Bordes redondeados para un mejor efecto */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}


